.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-accent-color);
}
.logo__dark {
  color: var(--black-color);
}
.logo__light {
  color: var(--second-accent-color);
}
