:root {
  --main-title-color: #212121;
  --text-color: #757575;
  --main-accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --navigation-text-color: #212121;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --icons-color: #afb1b8;
}
